@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

img {
  width: 100%;
  height: auto; }

* {
  outline: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.btn {
  margin: 0;
  padding: 14px;
  display: block;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444; }
  .btn:hover {
    color: #ffffff;
    background-color: #444444; }
  .btn:active {
    color: rgba(255, 255, 255, 0.3); }

a.btn {
  padding: 0;
  line-height: 48px; }

.page {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #444444;
  background-color: #ffffff; }

.page-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: inset 0 1px 0 0 #ececec; }

.page-header__logo {
  z-index: 20;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 86px;
  height: 80px; }

.page-header__logo a[href]:hover {
  opacity: 0.6; }

.page-header__logo a[href]:active {
  opacity: 0.3; }

.main-nav {
  position: relative;
  z-index: 10;
  box-shadow: inset 0 1px 0 0 #ececec, inset 0 -1px 0 0 #ececec; }

.main-nav__toggle {
  position: absolute;
  top: -49px;
  right: 31px;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000; }

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.6), 0 12px 0 0 rgba(0, 0, 0, 0.6); }

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.3), 0 12px 0 0 rgba(0, 0, 0, 0.3); }

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #000000; }

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none; }

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg); }

.main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3); }

.main-nav__items,
.main-nav__widget-items,
.main-nav__add-items {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__item,
.main-nav__widget-item,
.main-nav__add-item {
  font-size: 17px;
  line-height: 24px;
  box-shadow: inset 0 -1px 0 0 #ececec; }

.main-nav__item a,
.main-nav__widget-item a,
.main-nav__add-item a {
  display: block;
  margin-left: 30px;
  padding: 28px 46px;
  font-weight: bold;
  color: #000000;
  text-decoration: none; }

.main-nav__item a[href]:hover,
.main-nav__widget-item a[href]:hover,
.main-nav__add-item a[href]:hover {
  color: rgba(0, 0, 0, 0.6); }

.main-nav__item a[href]:active,
.main-nav__widget-item a[href]:active,
.main-nav__add-item a[href]:active {
  color: rgba(0, 0, 0, 0.3); }

.main-nav__search-link {
  position: relative; }

.main-nav__search-link svg {
  position: absolute;
  left: 0;
  top: 31px;
  width: 18px;
  height: 18px;
  opacity: 0.2; }

.main-nav__search-link:hover svg {
  fill: #63d1bb;
  opacity: 1; }

.main-nav__search-link:active svg {
  fill: #63d1bb;
  opacity: 0.3; }

.main-nav__widget-cart {
  position: relative; }

.main-nav__widget-cart svg {
  position: absolute;
  left: 0;
  top: 31px;
  width: 21px;
  height: 18px;
  opacity: 0.2; }

.main-nav__widget-cart:hover svg {
  fill: #63d1bb;
  opacity: 1; }

.main-nav__widget-cart:active svg {
  fill: #63d1bb;
  opacity: 0.3; }

.page-content {
  margin: 0;
  padding: 0; }
  .page-content--index-page .page-content__title-wrapper {
    background-color: #f9f9f9;
    background-image: url(../img/hero-mobile@1x.jpg);
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: auto 350px; }
  .page-content--index-page .page-content__title {
    margin-bottom: 0;
    padding-bottom: 122px;
    background: transparent; }

.page-content__title-wrapper {
  background-color: #f1f1f1;
  box-shadow: 0 -1px 0 0 #ececec; }

.page-content__title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 70px;
  padding-right: 30px;
  padding-bottom: 76px;
  padding-left: 30px;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  text-align: center;
  background-color: #f1f1f1; }

.quick-links {
  display: block; }

.quick-links__item {
  display: block;
  width: auto;
  height: auto;
  color: #ffffff;
  text-decoration: none; }

.quick-links__link {
  display: block;
  width: 100px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: inherit; }

.quick-links__item {
  position: relative; }

.quick-links__item--right::after,
.quick-links__item--left::after {
  content: "";
  position: absolute;
  top: 0;
  right: 27px;
  bottom: 0;
  width: 60px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5; }

.quick-links__item--right::after {
  background-image: url(../img/icon-toy.svg); }

.quick-links__item--left::after {
  background-image: url(../img/icon-interior.svg); }

.quick-links__item--right {
  background-color: #56c3b2; }
  .quick-links__item--right:hover {
    background-color: #46c1ae; }
  .quick-links__item--right:active,
  .quick-links__item--right:active span {
    color: rgba(255, 255, 255, 0.3);
    background-color: #46c1ae; }

.quick-links__item--left {
  background-color: #63d1bb; }
  .quick-links__item--left:hover {
    background-color: #59d5bc; }
  .quick-links__item--left:active,
  .quick-links__item--left:active span {
    color: rgba(255, 255, 255, 0.3);
    background-color: #59d5bc; }

.quick-links__item--right:hover::after,
.quick-links__item--left:hover::after {
  opacity: 0.7; }

.quick-links__item--right:active::after,
.quick-links__item--left:active::after {
  opacity: 0.3; }

.product-week {
  margin-top: 28px;
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 24px;
  color: inherit;
  background-color: inherit; }

.product-week__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 30px; }

.product-week__footer {
  -ms-flex-order: 2;
      order: 2; }

.product-week__title {
  margin: 0;
  margin-bottom: 2px;
  font-size: 25px;
  line-height: 30px; }

.product-week__title a {
  color: #000000;
  text-decoration: none; }

.product-week__title a:hover {
  color: rgba(0, 0, 0, 0.6); }

.product-week__title a:active {
  color: rgba(0, 0, 0, 0.3); }

.product-week__subtitle {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: #63d1bb; }

.product-week__img {
  -ms-flex-order: 1;
      order: 1;
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 18px; }

.product-week__descr {
  margin-top: 22px;
  margin-right: 0;
  margin-bottom: 23px;
  margin-left: 0; }

.product-week__specification dt,
.product-week__specification dd {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ececec; }

.product-week__specification dt {
  position: relative;
  display: block;
  width: 90px;
  padding-right: 7px;
  float: left; }

.product-week__specification dt::after {
  content: ":";
  position: absolute; }

.product-week__footer {
  width: 100%;
  text-align: center; }

.product-week__price {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 17px; }

.product-week__order-btn {
  width: 100%;
  margin-top: 25px; }

.advantages {
  position: relative;
  margin: 0;
  padding-top: 35px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff; }
  .advantages::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 7px;
    background-image: url(../img/bg-zigzag-line.svg);
    background-size: auto 7px; }

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  width: 260px;
  margin: 0 auto; }

.advantages__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 30px; }

.advantages__items {
  list-style: none;
  margin: 0;
  padding: 0; }
  .advantages__items::after {
    content: "";
    display: table;
    clear: both; }

.advantages__item {
  position: relative;
  margin: 0;
  padding-bottom: 24px;
  padding-top: 59px; }
  .advantages__item::before {
    content: "";
    position: absolute; }

.advantages__item:nth-child(1)::before {
  width: 32px;
  height: 37px;
  top: 3px;
  left: 7px;
  background-image: url(../img/icon-feature-1.svg);
  background-size: 32px 37px; }

.advantages__item:nth-child(2)::before {
  width: 47px;
  height: 27px;
  top: 3px;
  left: 0;
  background-image: url(../img/icon-feature-3.svg);
  background-size: 47px 27px; }

.advantages__item:nth-child(3)::before {
  width: 36px;
  height: 28px;
  top: 9px;
  left: 6px;
  background-image: url(../img/icon-feature-5.svg);
  background-size: 36px 28px; }

.advantages__item:nth-child(4)::before {
  width: 35px;
  height: 34px;
  top: 6px;
  left: 3px;
  background-image: url(../img/icon-feature-2.svg);
  background-size: 35px 34px; }

.advantages__item:nth-child(5)::before {
  z-index: 10;
  width: 55px;
  height: 23px;
  top: 7px;
  left: -6px;
  background-image: url(../img/icon-feature-4.svg);
  background-size: 55px 23px; }

.advantages__item:nth-child(6)::before {
  width: 32px;
  height: 37px;
  top: 3px;
  left: 3px;
  background-image: url(../img/icon-feature-6.svg);
  background-size: 32px 37px; }

.reviews {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: 15px;
  line-height: 30px;
  color: #444444; }

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  width: 260px; }

.reviews__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px; }

.reviews__item {
  margin: 0; }

.reviews__item p {
  margin-bottom: 23px; }

.reviews__auhor-name {
  font-style: normal;
  font-size: 17px;
  margin-top: 30px; }

.reviews__auhor-name b {
  font-size: 18px;
  line-height: 24px;
  color: #000000; }

.slider {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3); }

.slider__control {
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 37px;
  border: none; }

.slider__prev,
.slider__next {
  -ms-flex-preferred-size: calc(50%);
      flex-basis: calc(50%);
  height: 50px;
  font-size: 0;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 51px 26px;
  border: 1px solid #ececec; }

.slider__next {
  margin-left: -1px;
  background-image: url(../img/icon-right-arrow.svg); }

.slider__prev {
  background-image: url(../img/icon-left-arrow.svg); }

.slider__prev:hover,
.slider__next:hover {
  opacity: 0.6; }

.slider__prev:active,
.slider__next:active {
  opacity: 0.3; }

.contacts {
  position: relative;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff; }
  .contacts::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 7px;
    background-image: url(../img/bg-zigzag-line.svg);
    background-size: auto 7px; }

.contacts__header,
.contacts__footer {
  width: 320px;
  margin: 0 auto;
  width: 260px; }

.contacts__header {
  margin-bottom: 38px;
  padding-right: 30px;
  padding-left: 30px; }

.contacts__footer {
  margin-bottom: 10px;
  padding: 0 30px; }

.contacts__title {
  padding-top: 42px;
  padding-bottom: 10px;
  margin-bottom: 16px;
  font-size: 18px;
  color: #000000; }

.contacts__info {
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start; }

.contacts__type {
  margin-bottom: 30px; }

.contacts__data {
  width: 183px; }

.contacts__data p {
  margin: 0; }

.contacts__data a {
  padding-bottom: 4px;
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #46c1ae; }

.contacts__data a:hover {
  color: #46c1ae; }

.contacts__data a:active {
  opacity: 0.3; }

.contacts__map {
  height: 455px;
  margin-bottom: 39px; }

.contacts__write {
  margin-bottom: 40px; }

.page-footer {
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;
  background-color: #f1f1f1; }

.page-footer__wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 30px; }

.page-footer__social + .page-footer__copyright {
  border-top: 1px solid #e5e5e5; }

.page-footer__logo {
  display: none; }

.page-footer__social {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 18px;
  margin-left: -7px; }

.page-footer__copyright {
  display: block;
  margin: 0;
  padding: 22px 0;
  text-align: center; }

.page-footer__copyright-link {
  width: 27px;
  height: 24px;
  margin: 0 auto;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  text-decoration: none; }

.page-footer__copyright-svg {
  margin-left: 20px;
  vertical-align: middle;
  fill: #63d1bb; }

.page-footer__copyright-link:hover .page-footer__copyright-svg,
.page-footer__copyright-link:active .page-footer__copyright-svg {
  fill: #46c1ae; }

.page-footer__copyright-link:active {
  opacity: 0.3; }

.social-links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.social-link {
  font-size: 0;
  fill: #000000; }
  .social-link:hover {
    fill: #46c1ae; }
  .social-link:active {
    fill: #46c1ae;
    opacity: 0.3; }
  .social-link--fb {
    margin-right: 37px;
    margin-left: 41px; }

.catalog-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }

.catalog-list__item {
  padding: 0;
  margin-bottom: 30px;
  width: 259px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ececec;
  box-sizing: border-box; }
  .catalog-list__item:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }
  .catalog-list__item:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }

.product {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  background: #ffffff;
  box-sizing: border-box; }

.product__img {
  margin: 0;
  padding: 0; }

.product__wrapper {
  margin-top: 22px; }

.product__header,
.product__footer {
  margin-left: 26px;
  margin-right: 32px; }

.product__header {
  padding-bottom: 20px; }

.product__footer {
  padding-top: 20px;
  padding-bottom: 26px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.product__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 24px; }

.product__title a {
  color: #000000;
  text-decoration: none; }

.product__title a:hover {
  color: rgba(0, 0, 0, 0.6); }

.product__title a:active {
  color: rgba(0, 0, 0, 0.3); }

.product__header + .product__footer {
  border-top: 1px solid #e5e5e5; }

.product__descr {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  color: #444444; }

.product__descr * + * {
  text-transform: lowercase; }

.product__descr * + *::before {
  content: ",";
  position: relative;
  left: -4px; }

.product__order-btn {
  position: relative;
  width: 100%;
  height: 18px;
  font-size: 0;
  background: #ffffff;
  border: none; }

.product__order-btn .product__btn-svg {
  width: 21px;
  height: 18px;
  opacity: 0.2; }

.product__order-btn:hover .product__btn-svg {
  fill: #63d1bb;
  opacity: 1; }

.product__order-btn:active .product__btn-svg {
  fill: #63d1bb;
  opacity: 0.3; }

.video {
  margin-bottom: 58px;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  background: #ffffff; }

.video__wrapper {
  position: relative;
  height: 150px;
  margin-bottom: 8px; }

.video__play-pause {
  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 50px);
  width: 101px;
  height: 76px;
  box-sizing: border-box;
  background-image: url(../img/icon-play.svg);
  transition: transform 0.3s, opacity 0.3s; }
  .video__play-pause:hover {
    transform: scale(1.2); }
  .video__play-pause:active {
    opacity: 0.3;
    transform: scale(0.8); }

.video__title {
  position: relative;
  margin-bottom: 24px;
  padding-top: 10px;
  padding-left: 87px;
  font-size: 17px;
  line-height: 24px; }

.video__title svg {
  position: absolute;
  position: absolute;
  top: 16px;
  left: 32px;
  width: 32px;
  height: 32px;
  fill: #63d1bb; }

.video__viewer {
  width: 100%;
  height: 100%; }

.video__descr {
  margin-top: 27px;
  margin-bottom: 25px;
  padding-left: 32px;
  padding-right: 35px;
  font-size: 13px;
  font-weight: normal;
  color: #444444; }

.video__order-link {
  margin-top: 25px;
  margin-right: 33px;
  margin-bottom: 32px;
  margin-left: 33px; }

.order-form {
  width: auto;
  margin: 0;
  margin-top: -8px;
  margin-bottom: 56px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff; }

.order-form__prefix-note {
  margin: 0;
  margin-bottom: 23px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444; }

.order-form__postfix-note {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #444444; }

.order-form__fieldset {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #62d1ba; }
  .order-form__fieldset--checklist {
    margin-top: 2px; }
  .order-form__fieldset--fio {
    margin-top: -1px; }
  .order-form__fieldset--tel {
    margin-top: 2px;
    margin-bottom: 2px; }

.order-form__fieldset-name {
  margin: 0;
  margin-bottom: 34px;
  padding-right: 20px;
  padding-left: 0;
  text-transform: uppercase;
  color: #63d1bb; }

.order-form__fields-radio,
.order-form__fields-checkbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.order-form__field-radio,
.order-form__field-checkbox {
  min-height: 38px;
  padding: 0; }

.order-form__field-radio {
  margin-bottom: 21px; }

.order-form__field-checkbox {
  margin-top: 0px;
  margin-bottom: 23px; }

.order-form__field-radio input,
.order-form__field-checkbox input {
  display: none; }

.order-form__field-radio label,
.order-form__field-checkbox label {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  display: inline-block;
  padding-left: 62px;
  vertical-align: middle;
  color: #000000; }

.order-form__field-radio label::before,
.order-form__field-checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 36px;
  height: 35px;
  border: 2px solid #444444; }

.order-form__field-radio label::before {
  border-radius: 50%; }

.order-form__field-radio label:hover::before,
.order-form__field-checkbox label:hover::before {
  border-color: #62d1ba; }

.order-form__field-radio label:active::before,
.order-form__field-checkbox label:active::before {
  border-color: rgba(68, 68, 68, 0.3); }

.order-form__field-radio input:checked + label::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 2px;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%; }

.order-form__field-checkbox input:checked + label::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 2px;
  width: 18px;
  height: 7px;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(-45deg); }

.order-form__input {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: -6px;
  margin-bottom: 29px; }
  .order-form__input--tel {
    margin-top: -11px;
    margin-bottom: 29px; }
  .order-form__input--email {
    margin-top: -11px;
    margin-bottom: 31px; }

.order-form__input svg {
  position: absolute;
  top: -4px;
  right: 6px;
  opacity: 0.2; }

.order-form__input:hover svg,
.order-form__input:active svg,
.order-form__input input:focus + svg {
  opacity: 1;
  fill: #46c1ae; }

.order-form__input label {
  display: block;
  margin-bottom: 16px;
  font-size: inherit;
  line-height: inherit;
  color: #000000; }

.order-form__input input {
  padding-bottom: 14px;
  width: 100%;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  color: #444444;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid #000000; }

.order-form__input input:hover,
.order-form__input input:active,
.order-form__input input:focus {
  border-bottom-color: #62d1ba; }

.order-form__input--tel label,
.order-form__input--email label {
  display: none; }

.order-form__area {
  margin-top: -10px;
  margin-bottom: 13px; }

.order-form__area-label {
  display: none; }

.order-form__area-textarea {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: 2px solid #444444; }
  .order-form__area-textarea:hover, .order-form__area-textarea:active, .order-form__area-textarea:focus {
    border-color: #62d1ba;
    outline-color: #62d1ba; }

.order-form__submit {
  width: 100%;
  box-sizing: border-box; }

.modal-content {
  display: none;
  background: rgba(255, 255, 255, 0.9); }
  .modal-content--show {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 100%;
    height: 100%; }

.modal-content__wrapper {
  z-index: 50;
  margin: auto;
  padding: 30px;
  padding-bottom: 46px;
  box-shadow: 0 -1px 0 0 #c6c6c6, 0 5px 10px 0 rgba(0, 1, 1, 0.25); }

.modal-content__title {
  display: block;
  margin-bottom: 12px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase; }

.modal-content__form-prefix {
  margin-top: 11px;
  margin-bottom: 22px;
  font-size: 15px;
  line-height: 30px;
  text-align: center; }

.modal-content__fields-radio {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 32px; }

.modal-content__field-radio {
  display: block;
  -ms-flex-preferred-size: calc(33% - 5px);
      flex-basis: calc(33% - 5px);
  text-align: center; }

.modal-content__field-radio input {
  display: none; }

.modal-content__field-radio label {
  display: block;
  vertical-align: middle;
  padding: 16px;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  border: 2px solid rgba(68, 68, 68, 0.1); }

.modal-content__field-radio:hover label {
  border-color: rgba(68, 68, 68, 0.3); }

.modal-content__field-radio input:checked + label {
  border-color: #62d1ba; }

.modal-content__btn {
  width: 100%;
  color: #ffffff;
  background: #62d1ba;
  border: 2px solid #62d1ba; }
  .modal-content__btn:hover {
    background-color: #59d5bc;
    border-color: #59d5bc; }
  .modal-content__btn:active {
    color: rgba(255, 255, 255, 0.3); }

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 30;
  display: none;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.9); }
  .modal-overlay--show {
    display: -ms-flexbox;
    display: flex; }
  @media (min-width: 768px) {

  .page-header__logo {
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 113px;
    margin-left: 50px;
    height: 90px; }

  .main-nav {
    width: 100%;
    height: 89px;
    margin-top: -89px; }

  .main-nav__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    padding: 0 50px; }

  .main-nav__toggle {
    display: none; }

  .main-nav__items {
    -ms-flex-order: 2;
    order: 2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: auto;
    -ms-flex-positive: 1;
    flex-grow: 1; }

  .main-nav__widget-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    -ms-flex-order: 1;
    order: 1; }

  .main-nav__add-items {
    -ms-flex-order: 3;
    order: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: auto;
    -ms-flex-positive: 1;
    flex-grow: 1; }

  .main-nav__item,
  .main-nav__widget-item,
  .main-nav__add-item {
    box-shadow: none; }

  .main-nav__item a,
  .main-nav__widget-item a,
  .main-nav__add-item a {
    margin-left: 0;
    padding: 17px 0; }

  .main-nav__item a {
    font-size: 15px; }

  .main-nav__item + .main-nav__item {
    margin-left: 20px;
    padding-left: 15px; }

  .main-nav__widget-item a {
    padding-top: 31px;
    padding-bottom: 24px; }

  .main-nav__add-item a {
    font-size: 15px;
    font-weight: normal; }

  .main-nav__add-item {
    display: none; }

  .main-nav__add-item:nth-child(1) {
    display: block; }

  .main-nav__search-link {
    width: 84px;
    height: 34px;
    margin-right: 83px;
    font-size: 0;
    box-shadow: inset 1px 0 0 0 #ececec, inset -1px 0 0 0 #ececec; }

  .main-nav__search-link svg {
    left: 34px;
    top: 37px; }

  .main-nav__widget-cart svg {
    left: -52px;
    top: 35px; }

  .page-content__title-wrapper {
    position: relative;
    width: 100%; }

  .page-content__title-wrapper::after {
    content: "";
    position: absolute;
    bottom: -14px;
    width: 100%;
    height: 24px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-size: auto 24px; }

  .page-content--index-page .page-content__title-wrapper {
    background-image: url(../img/hero-desktop@1x.jpg);
    background-size: cover; }

  .page-content__title {
    margin-bottom: 80px;
    padding-top: 95px;
    padding-bottom: 77px;
    padding-left: 39px;
    font-size: 43px;
    line-height: 50px; }

  .page-content--index-page .page-content__title {
    padding-top: 153px;
    padding-bottom: 373px; }

  .quick-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 50px; }

  .quick-links__item {
    -ms-flex-positive: 1;
    flex-grow: 1; }

  .quick-links__link {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 37px;
    line-height: 30px;
    letter-spacing: 1.1px; }

  .product-week {
    margin-top: 45px;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 30px; }

  .product-week__wrapper {
    width: auto;
    margin: 0 50px;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: end;
    justify-content: flex-end; }

  .product-week__img {
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
    width: 100%;
    margin: 0;
    margin-top: 10px; }

  .product-week__header {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 48px; }

  .product-week__content {
    -ms-flex-order: 3;
    order: 3;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-preferred-size: calc(50% - 36px);
    flex-basis: calc(50% - 36px);
    margin-right: 36px; }

  .product-week__footer {
    -ms-flex-order: 3;
    order: 3;
    width: 290px;
    margin-top: -123px; }

  .product-week__title {
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 43px;
    line-height: 50px;
    letter-spacing: -0.4px; }

  .product-week__subtitle {
    width: 70px;
    margin-top: 12px;
    margin-right: 29px;
    margin-bottom: 0;
    line-height: 17px;
    text-align: center; }

  .product-week__descr {
    margin: 0; }

  .product-week__specification {
    margin-top: 40px;
    padding-bottom: 123px;
    font-size: 15px; }

  .product-week__specification dt,
  .product-week__specification dd {
    margin-bottom: 2px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ececec; }

  .product-week__specification dt {
    position: relative;
    display: block;
    width: 90px;
    padding-right: 7px;
    float: left; }

  .product-week__specification dt::after {
    content: ":";
    position: absolute; }

  .product-week__price {
    margin-bottom: 32px;
    padding-left: 7px;
    font-weight: bold;
    font-size: 20px; }

  .advantages__wrapper {
    width: 668px; }

  .advantages {
    padding-top: 66px;
    font-size: 20px;
    line-height: 22px; }

  .advantages::before {
    height: 17px;
    background-size: auto 17px; }

  .advantages__title {
    margin-left: -5px;
    margin-bottom: 22px;
    font-size: 43px;
    line-height: 50px; }

  .advantages__items {
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 1px;
    column-gap: 1px; }

  .advantages__item {
    padding-bottom: 30px;
    padding-top: 81px;
    float: left; }

  .advantages__item::before {
    top: 30px; }

  .advantages__item:nth-child(1)::before {
    top: 27px;
    left: 9px; }

  .advantages__item:nth-child(2)::before {
    top: 29px;
    left: 1px; }

  .advantages__item:nth-child(3)::before {
    top: 33px;
    left: 7px; }

  .advantages__item:nth-child(4)::before {
    top: 31px;
    left: 2px; }

  .advantages__item:nth-child(5)::before {
    top: 32px;
    left: -7px; }

  .advantages__item:nth-child(6)::before {
    top: 27px; }

  .reviews__wrapper {
    width: 668px; }

  .reviews {
    margin-top: 53px;
    padding-bottom: 69px;
    font-size: 17px;
    background: #ffffff url(../img/review@1x.jpg) -10px 0 no-repeat;
    background-size: auto 457px; }

  .reviews__title {
    margin: 0;
    margin-bottom: 49px;
    margin-left: -5px;
    padding-top: 77px;
    font-size: 43px;
    line-height: 50px; }

  .reviews__item p {
    margin-bottom: 56px; }

  .reviews__auhor-name span {
    display: block; }

  .reviews__write {
    position: absolute;
    top: 79px;
    right: 0;
    width: 170px; }

  .slider {
    position: relative; }

  .slider__control {
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 167px;
    margin: 0; }

  .slider__prev,
  .slider__next {
    border: none; }

  .contacts__header,
    .contacts__footer {
    width: 668px; }

  .contacts {
    margin-top: 17px;
    padding-top: 42px;
    font-size: 17px; }

  .contacts::before {
    height: 17px;
    background-size: auto 17px; }

  .contacts__header {
    margin-bottom: 55px; }

  .contacts__title {
    position: relative;
    margin-bottom: 38px;
    margin-left: -5px;
    padding-top: 0;
    padding-right: 51px;
    font-size: 43px;
    line-height: 50px; }

  .contacts__title::after {
    content: "";
    position: absolute;
    right: 0;
    top: -15px;
    width: 51px;
    height: 81px;
    background: transparent url(../img/icon-flag.svg) 0 0 no-repeat; }

  .contacts__info {
    -ms-flex-pack: start;
    justify-content: flex-start; }

  .contacts__data {
    width: 240px; }

  .contacts__type + .contacts__data {
    margin-bottom: 0;
    margin-left: 22px; }

  .contacts__data + .contacts__type {
    margin-left: 20px; }

  .contacts__map {
    margin-bottom: 60px; }

  .contacts__write {
    margin: 0 auto;
    width: 227px; }

  .page-footer {
    width: 100%;
    margin-top: 54px; }

  .page-footer__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 50px; }

  .page-footer__logo {
    display: -ms-flexbox;
    display: flex;
    width: 102px;
    height: 143px;
    -ms-flex-align: center;
    align-items: center; }

  .page-footer__logo-svg {
    display: block;
    width: 102px;
    height: 34px; }

  .page-footer__logo:hover .page-footer__logo-svg {
    fill: #46c1ae; }

  .page-footer__logo:active .page-footer__logo-svg {
    fill: #46c1ae;
    opacity: 0.3; }

  .page-footer__social {
    margin-left: 75px;
    padding: 0;
    padding-top: 14px; }

  .page-footer__social + .page-footer__copyright {
    border-top: none; }

  .page-footer__copyright {
    padding: 0;
    padding-top: 12px; }

  .page-footer__copyright-link {
    height: 34px; }

  .catalog-list__item {
    width: 668px;
    margin: 0 auto;
    margin-bottom: 53px; }

  .product {
    -ms-flex-direction: row;
    flex-direction: row; }

  .product__img {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: calc(50% - 29px);
    flex-basis: calc(50% - 29px);
    margin-right: 28px;
    margin-bottom: -6px; }

  .product__img img {
    width: 332px;
    height: 333px; }

  .product__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-preferred-size: calc(50% - 58px);
    flex-basis: calc(50% - 58px);
    margin-top: 1px;
    margin-right: 30px; }

  .product__header {
    margin: 0;
    padding-top: 25px; }

  .product__title {
    font-size: 20px;
    line-height: 24px; }

  .product__descr {
    font-size: 15px; }

  .product__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    padding-top: 20px;
    margin-left: 4px;
    margin-right: 7px;
    margin-bottom: 26px;
    font-size: 17px; }

  .video {
    margin-top: -1px;
    margin-bottom: 9px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }

  .video__wrapper {
    position: relative;
    z-index: 10;
    width: 668px;
    height: 454px;
    margin-bottom: 12px;
    -ms-flex-order: -1;
    order: -1; }

  .video__title {
    margin-bottom: 5px;
    padding-left: 106px;
    font-size: 20px;
    line-height: 24px; }

  .video__title svg {
    top: 7px;
    left: 41px; }

  .video__descr {
    margin-bottom: 11px;
    padding-left: 39px;
    font-size: 15px;
    line-height: 30px; }

  .video__order-link {
    margin-right: 41px;
    margin-bottom: 44px;
    margin-left: 41px; }

  .order-form {
    width: auto;
    padding: 0;
    margin-bottom: -6px;
    font-size: 19px; }

  .order-form__prefix-note {
    margin-bottom: 30px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px; }

  .order-form__wrapper {
    padding: 0 50px; }

  .order-form__wrapper:last-child {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .order-form__wrapper:nth-child(2n+1):not(:last-child),
  .order-form__wrapper:nth-child(2n+1):not(:last-child) input {
    background-color: #f1f1f1; }

  .order-form__fieldset {
    margin-bottom: 13px;
    padding-top: 41px;
    border: none; }

  .order-form__fieldset--checklist {
    padding-top: 64px;
    padding-bottom: 12px;
    margin-right: -20px; }

  .order-form__fieldset--fio {
    padding-top: 54px;
    margin-bottom: 13px; }

  .order-form__fieldset--tel {
    padding-top: 63px;
    margin-bottom: 0; }

  .order-form__fieldset--email {
    padding-top: 0;
    padding-bottom: 11px;
    margin-bottom: 20px; }

  .order-form__fieldset-name {
    float: left;
    padding-top: 4px;
    margin-left: 2px;
    font-size: 17px;
    line-height: 16px; }

  .order-form__fields-radio,
  .order-form__fields-checkbox {
    -ms-flex-align: start;
    align-items: flex-start;
    margin-left: 168px; }

  .order-form__field-radio {
    margin-bottom: 24px;
    min-height: 52px; }

  .order-form__field-radio label {
    padding-left: 81px; }

  .order-form__field-radio label::before {
    left: 0;
    top: -15px;
    width: 48px;
    height: 48px; }

  .order-form__field-radio input:checked + label::after {
    left: 16px;
    top: 1px;
    width: 20px;
    height: 20px; }

  .order-form__fields-checkbox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start; }

  .order-form__field-checkbox {
    -ms-flex-preferred-size: calc(50%);
    flex-basis: calc(50%);
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-height: 52px;
    margin-bottom: 24px; }

  .order-form__field-checkbox label {
    padding-left: 81px; }

  .order-form__field-checkbox label::before {
    left: 0;
    top: -15px;
    width: 50px;
    height: 48px; }

  .order-form__field-checkbox input:checked + label::after {
    left: 13px;
    top: -2px;
    width: 27px;
    height: 14px; }

  .order-form__input {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 0;
    margin-left: 168px;
    margin-bottom: 38px; }

  .order-form__input svg {
    right: 24px; }

  .order-form__input label {
    margin-right: 25px; }

  .order-form__input label::after {
    content: ":"; }

  .order-form__input input {
    padding-left: 17px;
    padding-bottom: 13px; }

  .order-form__input--tel input {
    background-color: inherit; }

  .order-form__input--email input {
    background-color: inherit; }

  .order-form__area {
    margin-left: 168px;
    margin-bottom: 37px;
    width: auto; }

  .order-form__postfix-note {
    margin: 0;
    padding-top: 8px;
    font-size: 17px;
    line-height: 30px;
    text-align: right; }

  .order-form__submit {
    width: 230px;
    font-family: inherit; }

  .modal-content__wrapper {
    width: 350px;
    padding-left: 108px;
    padding-right: 108px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {

  .page-content--index-page .page-content__title-wrapper {
    background-image: url(../img/hero-desktop@2x.jpg); }

  .reviews {
    background-image: url(../img/review@2x.jpg); } }
  @media (min-width: 1150px) {

  .page-header__logo {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 149px;
    height: 89px;
    margin: 0; }

  .main-nav {
    width: auto;
    max-width: 1050px;
    padding: 0 50px; }

  .main-nav__wrapper {
    padding: 0; }

  .main-nav__items {
    -ms-flex-order: 1;
    order: 1;
    width: auto; }

  .main-nav__item a {
    padding-top: 31px;
    padding-bottom: 31px;
    font-size: 17px; }

  .main-nav__item + .main-nav__item {
    margin-left: 35px;
    padding-left: 36px;
    box-shadow: inset 1px 0 0 0 #ececec; }

  .main-nav__widget-items {
    width: auto; }

  .main-nav__add-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }

  .main-nav__add-item {
    display: block; }

  .main-nav__add-item:nth-child(n+2) a {
    font-weight: bold; }

  .main-nav__add-item:nth-child(2) {
    margin-right: auto; }

  .main-nav__add-item:nth-child(3) {
    margin-right: 60px; }

  .page-content__title-wrapper::after {
    bottom: -10px;
    background-size: auto 34px; }

  .page-content__title {
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 129px;
    padding-top: 93px;
    padding-bottom: 103px;
    padding-left: 50px;
    font-size: 53px;
    line-height: 57px; }

  .page-content--index-page .page-content__title-wrapper {
    margin-bottom: 73px; }

  .page-content--index-page .page-content__title {
    padding-top: 153px;
    padding-bottom: 359px;
    padding-left: 30px; }

  .product-week {
    margin-top: 0;
    margin-bottom: 62px; }

  .product-week__wrapper {
    width: auto;
    max-width: 1050px;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px; }

  .product-week__header {
    margin-top: 54px;
    margin-bottom: 46px;
    margin-left: 25px;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }

  .product-week__title {
    z-index: 10;
    font-size: 53px;
    line-height: 57px;
    letter-spacing: -0.3px; }

  .product-week__subtitle {
    margin-top: 0;
    margin-right: 55px;
    margin-left: 21px; }

  .product-week__content {
    margin-right: 26px;
    margin-left: 175px;
    -ms-flex-preferred-size: calc(50% - 200px);
    flex-basis: calc(50% - 200px); }

  .product-week__footer {
    margin-top: -120px;
    margin-left: 175px; }

  .product-week__specification {
    margin-top: 53px;
    padding-bottom: 123px; }

  .product-week__descr {
    padding-right: 25px; }

  .product-week__price {
    margin-bottom: 30px; }

  .product-week__img {
    margin-top: -158px;
    -ms-flex-item-align: start;
    align-self: flex-start; }

  .product-week__img img {
    width: 100%;
    min-height: 635px; }

  .advantages__wrapper {
    width: 1050px; }

  .advantages {
    padding-top: 85px; }

  .advantages::before {
    height: 23px;
    background-size: auto 23px; }

  .advantages__wrapper {
    width: 700px; }

  .advantages__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 22px;
    letter-spacing: -0.3px; }

  .advantages__items {
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 1px;
    column-gap: 1px; }

  .advantages__item {
    padding-bottom: 30px;
    padding-top: 81px;
    float: left; }

  .reviews__wrapper {
    width: 1050px; }

  .reviews {
    background: none;
    margin-top: 57px;
    padding-bottom: 35px;
    margin-bottom: 29px; }

  .reviews__wrapper {
    padding-bottom: 96px;
    background: #ffffff url(../img/review@1x.jpg) 0 0 no-repeat; }

  .reviews__title {
    margin-left: 172px;
    padding-top: 73px;
    font-size: 53px;
    line-height: 57px; }

  .reviews__item {
    margin-left: 175px;
    margin-right: 100px; }

  .reviews__item p {
    margin-bottom: 36px; }

  .reviews__write {
    position: absolute;
    top: 80px;
    right: 0;
    width: 171px; }

  .slider__control {
    position: absolute;
    bottom: 101px;
    right: 2px;
    width: 172px;
    margin: 0; }

  .contacts__header,
    .contacts__footer {
    width: 1050px; }

  .contacts {
    padding-top: 93px;
    font-size: 17px; }

  .contacts::after {
    content: "";
    display: table;
    clear: both; }

  .contacts::before {
    height: 23px;
    background-size: auto 23px; }

  .contacts__wrapper {
    width: 1050px;
    margin: 0 auto; }

  .contacts__header,
  .contacts__footer {
    float: left;
    width: 330px;
    margin-top: 27px;
    margin-bottom: 53px;
    margin-left: 54px;
    padding: 0;
    padding-left: 120px; }

  .contacts__title {
    position: relative;
    margin-bottom: 38px;
    padding-top: 0;
    padding-right: 51px;
    font-size: 53px;
    line-height: 57px; }

  .contacts__title::after {
    content: "";
    position: absolute;
    left: -107px;
    top: -8px;
    width: 51px;
    height: 81px;
    background: transparent url(../img/icon-flag.svg) 0 0 no-repeat; }

  .contacts__info {
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .contacts__data {
    width: 252px; }

  .contacts__data + .contacts__type {
    margin-left: 0; }

  .contacts__map {
    float: right;
    width: 525px;
    height: 460px;
    margin-bottom: 0; }

  .contacts__write {
    margin-left: 1px;
    width: 227px; }

  .page-footer {
    margin-top: 52px; }

  .page-footer__social {
    padding-top: 10px; }

  .page-footer__copyright {
    padding-top: 7px; }

  .catalog-list {
    width: 1050px;
    margin: 0 auto;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: stretch;
    align-items: stretch; }

  .catalog-list__item {
    width: 315px; }

  .product {
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    margin-bottom: 57px;
    padding: 0; }

  .product__img {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: auto;
    height: 462px;
    margin: 0;
    margin-bottom: 25px;
    box-sizing: border-box; }

  .product__img img {
    width: 100%;
    height: 462px; }

  .product__wrapper {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 26px; }

  .product__header {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15px; }

  .product__footer {
    margin-left: 0; }

  .video {
    display: block;
    width: 100%;
    margin-bottom: 51px; }

  .video::after {
    content: "";
    display: table;
    clear: both; }

  .video__wrapper {
    float: left;
    width: 682px;
    margin-right: 79px;
    margin-bottom: 0; }

  .video__title {
    float: right;
    width: 224px;
    margin-right: 63px;
    padding-top: 78px;
    padding-left: 0; }

  .video__title svg {
    top: 24px;
    left: 1px; }

  .video__descr {
    width: 224px;
    padding: 0;
    float: left; }

  .video__order-link {
    float: left;
    width: 227px;
    margin: 0;
    margin-top: 35px;
    padding: 0; }

  .order-form {
    margin-bottom: 0px;
    font-size: 19px; }

  .order-form__wrapper {
    margin-left: 7px; }

  .order-form__wrapper:last-child {
    width: 700px;
    margin: 0 auto; }

  .order-form__prefix-note {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 31px; }

  .order-form__fieldset {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 1050px; }

  .order-form__fieldset-name {
    margin-left: 55px; }

  .order-form__fieldset-name--checklist {
    padding-top: 62px; }

  .order-form__fieldset-name--fio {
    padding-top: 53px; }

  .order-form__fields-checkbox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 790px; }

  .order-form__field-checkbox {
    -ms-flex-preferred-size: calc(33%);
    flex-basis: calc(33%);
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-height: 52px; }

  .order-form__input {
    width: 700px;
    margin-bottom: 38px; }

  .order-form__input svg {
    right: 6px; }

  .order-form__area {
    margin-bottom: 32px;
    width: 700px; }

  .order-form__postfix-note {
    padding-top: 11px;
    width: 315px; }

  .order-form__submit {
    width: 230px; } }
  @media (max-width: 767px) {

  .main-nav {
    width: 100%; }

  .main-nav--closed .main-nav__item {
    display: none; }

  .main-nav--closed .main-nav__widget-items {
    display: none; }

  .main-nav__add-items {
    display: none; }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: auto;
    background-color: #ffffff;
    overflow-y: auto; }

  .main-nav--nojs .main-nav__toggle {
    display: none; }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto; }

  .main-nav--nojs .main-nav__item {
    display: block; }

  .main-nav--nojs .main-nav__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left; }

  .main-nav--nojs .main-nav__user-items {
    display: block;
    background-color: #ffffff; } }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

  .page-content--index-page .page-content__title-wrapper {
    background-image: url(../img/hero-mobile@2x.jpg); } }
